body {
  background-color: #618685;
  font-family: Arial, Helvetica, sans-serif;
}


#main-div {
  width: 40%;
  height: fit-content;
  border: 4px solid rgb(4, 98, 4);
  border-radius: 20px;
  background-color: #d5f4e6;
  /* padding: 10px; */

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
}

@media (max-width: 450px) {
  #main-div {
    width: 96%;
    height: fit-content;
    border: 4px solid rgb(4, 98, 4);
    border-radius: 20px;
    background-color: #d5f4e6;
    /* padding: 10px; */
  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: auto;
  }
}


#heading {
  font-size: 40px;
  text-align: center;
  padding: 10px;
  background-color: #b5f4d7;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#instruction {
  font-size: 20px;
}

#outer-div {
  padding: 20px;
  width: 70%;

  /* position: absolute; ----- Not to be used liberally */
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.lift-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: 4px;
  border: none;
  border-bottom: 2px solid #045f35;
  background-color: #d5f4e6;
}

#generate-button {
  background-color: rgb(137, 252, 164);
  font-size: 15px;
  border-radius: 10px;
  padding: 4px;
  margin-top: 12px;
}

#generate-button:hover {
  background-color: rgb(45, 255, 94);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#update-generate-button {
  background-color: rgb(137, 252, 164);
  font-size: 15px;
  border-radius: 10px;
  padding: 4px;
  margin-top: 12px;
}

#update-generate-button:hover {
  background-color: rgb(45, 255, 94);
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.floorContainer {
  border: 5px solid #ffffff;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
}

.floor {
  box-shadow: 0px 2px 0px #ffffff;
  height: 90px;
  display: flex;
}

.floor-name {
  background-color: #056748;
  border-radius: 20px;
  color: #ffffff;
  height: 20px;
  margin-top: 30px;
  padding: 5px;
  align-content: center;
}

.control-buttons {
  width: 80px;
  padding: 10px;
  display: inline-grid;
  width: 69px;
  align-content: center;
}

.up-button,
.down-button {
  border-radius: 20px;
  height: 35px;
  font-size: 16px;
}

.up-button:hover {
  background-color: #93e96b;
}
.down-button:hover {
  background-color: #e97c5e;
} 

.up-button.active_button {
  background-color: #50d213;
  color: white;

}

.down-button.active_button {
  background-color: #db3f14;
  color: white;
}

#lift-main-div {
  background-color: antiquewhite;
  text-align: center;
  width: max-content;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#lift-main-div p {
  padding: 10px;
  margin: 0;
  font-size: large;
}

#lift-inputs {
  display: flex;
  padding: 5px;
}
#lift-inputs input {
  height: 20px;
  width: auto;
  margin-left: 10px;
}
#lift-inputs label {
  margin-left: 10px;
}
#lift-inputs button {
  margin: auto 5%;
}

@media (max-width: 450px) {
  #lift-main-div {
    background-color: rgb(250, 184, 97);
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #lift-main-div p {
    padding: 10px;
    margin: 0;
    font-size: large;
  }
  
  #lift-inputs {
    display: flex;
    padding: 8px;
  }
  #lift-inputs input {
    height: 20px;
    width: 42px;
    margin-left: 2px;
  }
  #lift-inputs label {
    margin-left: 0px;
  }
  #lift-inputs button {
    margin-left: 10px;
  }
  
}

.liftContainer {
  display: flex;
  margin-left: 250px;
  margin-right: 30px;
}

.lift {
  display: flex;

  height: 65px;
  width: 45px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgb(33, 207, 255);
  /* border-radius: 5px; */
  margin: auto;
  margin-left: 10px;
  margin-top: -75px;

  transition: 1s linear all;
  overflow: hidden;
}

.left-door,
.right-door {
  width: 50%;
  height: 100%;
  border: 1px solid green;
  background-color: rgb(206, 206, 206);
  transition: transform 2s ease;
}

.lift.door-open .left-door {
  transform: translateX(200%);
}
.lift.door-open .right-door {
  transform: translateX(100%);
}
